<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name = "connection"
			 connectionString="SERVER=localhost; DATABASE=impresion3d; UID=root; PASSWORD=Yender28"
			 providerName="System.Data.MySqlClient" />
	</connectionStrings>

	<startup>

	</startup>
</configuration>